<div class="card" style="width: 18rem;">
    <img class="card-img-top " height=200vh src="<%= item.image[0].url %> " alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Name: <%= item.name%></h5>
      <p class="card-text">Brand: <%= item.brand%></p>
      <p class="card-text">Type: <%= item.type%></p>
      <a href="#" class="btn btn-primary">IT WORKS</a>
    </div>
  </div>